:root{
    --clr-primary-233: hsl(233, 47%, 7%);
    --clr-primary-244: hsl(244, 38%, 16%);
    --clr-primary-277: hsl(277, 64%, 61%);
    --clr-primary: hsl(277, 62%, 35%);

    --clr-neutral-white-0: hsl(0, 0%, 100%);
    --clr-neutral-transparen-white-75: hsl(0, 0%, 100%, 0.75);
    --clr-neutral-transparent-6: hsl(0, 0%, 100%, 0.6);

    --ff-accent: "Inter", sans-serif;
    --ff-primary: "Lexend Deca", sans-serif;
}

body{
    width: 100%;
    height: auto;
    background-color: var(--clr-primary-233);
    font-size: 15px;
    font-family: var(--ff-primary);
    font-weight: 400;
}

html, body {
    margin: 0px;
    height: 100%;
}


h1, h2{
    font-family: var(--ff-accent);
    color: var(--clr-neutral-white-0);
}

span{
    color: var(--clr-primary-277)
}

p{
    color: var(--clr-neutral-transparen-white-75);
}

.info > p{
    color: var(--clr-neutral-transparent-6);
}

.split{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 340px;
    height: auto;
    background-color: var(--clr-primary-244);
    border-radius: 2%;
    margin: auto;
}

.text{
    display: block;
    text-align: center;
    padding: 1.5em;
}

.paragraf{
    max-width: 16em;
    line-height: 1.6em;
    text-align: center;
    margin: auto;
}


.info{
    display: flex;
    flex-direction: column;
}

.text > .split{
    width: 50%;
}

.desktop{
    display: none;
}

.text > h1{
    max-width: 10em;
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
}

.text > p{
    padding-bottom: 25px;
}

.info > h2{
    margin-bottom: 0;
}

.info > p{
    margin-top: 0;
    margin-bottom: 0;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purple-bg{
    background-color: var(--clr-primary);
    width: 340px;
    height: 250px;
    border-radius: 2% 2% 0 0;
}

.mobile{
    width: 100%;
    height: auto;
    border-radius: 2% 2% 0 0;
    opacity: 35%;
}

@media (min-width: 1040px){
    .purple-bg{
        background-color: var(--clr-primary);
        width: 520px;
        height: auto;
        border-radius: 0 2% 2% 0;
    }

    .image{
        position: absolute;
        width: auto;
        height: auto;
        right: -20px;
    }

    .split{
        flex-direction: row;
        width: 1080px;
        margin: 3em;
    }

    .text > .split{
        width: 50%;
    }

    .info{
        text-align: left;
        padding-right: 4em;
    }

    .text{
        display: block;
        text-align: left;
        padding-bottom: 0;
    }

    .text > h1{
        margin-left: 0.5em;
        max-width: 12em;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .paragraf{
        padding-bottom: 0em;
        max-width: 24em;
        text-align: left;
        margin-left: 3em;
    }

    .mobile{display:none;}

    .desktop{
        display: block;
        width: 100%;
        border-radius: 0 2% 2% 0;
        opacity: 35%;
    }
}